<nav>
  <h1 class="clickable">Hamidou</h1>

    <div class="navbar">
      <div class="navbar-header">
        <a class="clickable">{{ 'ABOUT_ME' | translate }}</a>
        <a class="clickable">{{ 'SKILLS' | translate }}</a>
        <a class="clickable">{{ 'PORTFOLIO' | translate }}</a>
      </div>
      <div>
        <button (click)="changeLanguage('de')">DE</button>
        <button (click)="changeLanguage('en')">EN</button>
        <button (click)="changeLanguage('fr')">FR</button>
      </div>
    </div>

  
  <img
    class="menu clickable"
    src="./../../assets/img/burger_menu.png"
    alt="Menu"
  />
</nav>

<div class="overlay">
  <div class="overlay-header">
    <h1>Hamidou</h1>
    <img
      class="close clickable"
      src="./../../assets/img/close_medium.png"
      alt="Close"
    />
  </div>

  <div class="overlay-content">
    <a>About me</a>
    <a>My skills</a>
    <a>Portfolio</a>
    <a>Contact</a>

    <div class="overlay-lang">
      <button>DE</button> /
      <button>EN</button>/
      <button>FR</button>
    </div>
  </div>
</div>
