<nav>
  <h1 class="clickable">Hamidou</h1>

  <div class="navbar-header">
    <a class="navbar-brand clickable">About me</a>
    <a class="clickable">Skills</a>
    <a class="clickable">Portfolio</a>
  </div>

  <img class="menu clickable" src="./../../assets/img/burger_menu.png" alt="Menu" />
</nav>

<div class="overlay">
  <div class="overlay-header">
    <h1>Hamidou</h1>
    <img
      class="close clickable"
      src="./../../assets/img/close_medium.png"
      alt="Close"
    />
  </div>

  <div class="overlay-content">
    <a>About me</a>
    <a>My skills</a>
    <a>Portfolio</a>
    <a>Contact</a>
  </div>
</div>
